{% extends 'layouts/default/_base.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% block title %}Restore Password{% endblock %}

{% block content %}
<div class="container">
    <center><h4>{% trans 'Restore password' %}</h4></center>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary">{% trans 'Next' %}</button>
    </form>
    <hr>
        <a href="{% url 'accounts:log_in' %}" class="btn btn-success">Log in</a>
</div>
{% endblock %}
